<div class="w-50 m-auto">
  <h2 class="text-center">Confirm start this exam</h2>

  <%= form_for :exam_code, url: students_confirmations_path do |f| %>
    <div class="form-group">
      <%= f.label :code %><br/>
      <%= f.text_field :code, class: "form-control", placeholder: "Enter exam code" %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>
